div {
    /* background: url('../../assets/images/Download1.jpg'); */
    background: #3b1ab2;
    /* width: relative;
    height: auto; */
    position: relative;
    /* position: fixed; */
    bottom: 0;
    background-size: contain;
}