<div style="height:3rem;"></div>
<div class="card mx-auto p-2" style="width:70rem;">
    <!-- <h1>Here the form</h1> -->

    <h2 class="text-center mt-2">Kindly fill up the form</h2>
    <h4>Organization Details</h4>
    <hr>
    <div class="d-flex row">
        <div class="col-sm-4 row">
            <label for="name" class="mt-1 col-sm-6">Name:</label>
            <input type="text" name="name" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="members" class="mt-1 col-sm-6">Members:</label>
            <input type="text" name="members" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="field" class="mt-1 col-sm-6">Work Areas:</label>
            <input type="text" name="field" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
    </div>
    <div class="d-flex mt-2 row">
        <div class="col-sm-4 row">
            <label for="state" class="mt-1 col-sm-6">State:</label>
            <input type="text" name="state" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="city" class="mt-1 col-sm-6">City:</label>
            <input type="text" name="city" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="address" class="mt-1 col-sm-6">Complete Address:</label>
            <input type="text" name="address" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
    </div>
    <div class="d-flex mt-2 row">
        <div class="col-sm-4 row">
            <label for="reg" class="mt-1 col-sm-6">Registration No:</label>
            <input type="text" name="reg" class="mt-1 mb-1 mt-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="doe" class="mt-1 col-sm-6">Date of Est:</label>
            <input type="date" name="doe" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="cnaame" class="mt-1 col-sm-6">New Campaign:</label>
            <input type="text" name="cname" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="row mt-3">
            <div class="col-sm-6 d-flex">
                <label class="col-sm-4 " for="pdetails">Project Details:</label>
                <textarea name="pdetails" class="rounded col-sm-7" width="100%" height="50px"></textarea>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-4">
                <label for="amount" class="mt-1 col-sm-6">Amount:</label>
                <input type="text" name="amount" class="mt-1 mb-1 col-sm-6 rounded">
            </div>
        </div>
    </div>
    <hr>
    <h4>Training Info</h4>
    <hr>
    <div class="d-flex mt-2 row">
        <div class="col-sm-4 row">
            <label for="title" class="mt-1 col-sm-6">Title:</label>
            <input type="text" name="title" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="NGO" class="mt-1 col-sm-6">Provided by:</label>
            <input type="text" name="NGO" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
        <div class="col-sm-4 row">
            <label for="about" class="mt-1 col-sm-6">About:</label>
            <input type="text" name="about" class="mt-1 mb-1 col-sm-6 rounded">
        </div>
    </div>
    <button class="btn btn-success mt-2 col-sm-3 mx-auto">Submit</button>
</div>
<div style="height:5rem;"></div>