<div class="container p-3">
  <table class="table">
    <tr>
      <th scope="col">Application No:</th>
      <th scope="col">NGO Name</th>
      <th scope="col">Training Course Name</th>
      <th scope="col">Application status</th>
      <th scope="col">Approval/Rejection</th>
    </tr >
    <tbody>
      <tr *ngFor="let result of results">
        <td scope="row">{{result.ngoId}}</td>
        <td>{{result.ngoName}}</td>
        <td>{{result.ngoProjDetails}}</td>
        <td>{{result.status}}</td>
        <td>
          <button type="button" class="btn btn-outline-success btn-sm">Approve</button>
          <button type="button" class="btn btn-outline-danger btn-sm mx-3">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>