<section class="sec mt-3 mb-3">
  <div *ngIf="items1.length>0" class="card bg-white mx-auto" style="width:60rem;">
    <h3 class="text-center">Your Applications</h3>
    <hr />
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Sr. No</th>
          <th scope="col">Application Name</th>
          <th scope="col">Application Type</th>
          <th scope="col">Application Description</th>
          <th scope="col">Application Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items1">
          <td>{{item.a.applicationId}}</td>
          <td>{{item.a.traineeFirstname+" "+item.a.traineeLastname}}</td>
          <td>{{item.a.applicationtype}}</td>
          <td>{{item.title}}</td>
          <td>{{item.a.status}}</td>
        </tr>
        <tr *ngFor="let item of items2">
          <td>{{item.a.applicationId}}</td>
          <td>{{item.a.traineeFirstname+" "+item.a.traineeLastname}}</td>
          <td>{{item.a.applicationtype}}</td>
          <td>{{item.title}}</td>
          <td>{{item.a.status}}</td>
        </tr>
        <tr *ngFor="let item of items3">
          <td>{{item.a.applicationId}}</td>
          <td>{{item.a.traineeFirstname+" "+item.a.traineeLastname}}</td>
          <td>{{item.a.applicationtype}}</td>
          <td>{{item.title}}</td>
          <td>{{item.a.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="items1.length==0">
    <div style="height:3rem;"></div>
    <div class="card mx-auto " id="norecords" style="width:25rem;">
      <h3 class="text-center text-primary ">No records found!</h3>
      <img class="center mx-auto" src="../../assets/images/no-record-found.png" alt="No Records Pic" height="250px"
        width="250px">
    </div>
    <div style="height:5rem;"></div>
  </div>
</section>