<section class="sec mt-3 mb-3">
  <div class="container">
    <h3 class="text-center">Table</h3>
    <hr />
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Sr. No</th>
          <th scope="col">Application Number</th>
          <th scope="col">Application Type</th>
          <th scope="col">Application Description</th>
          <th scope="col">Application Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Approved</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Rejected</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
