<div class="text-white container alert-info p-2 rounded">
    <h4 class="mx-auto text-primary font-weight-bold text-center p-1 ml-4">Eligibility Criteria</h4>
    <ul class="mb-5">
        <li class="p-2 alert-danger rounded mb-1 ">The interested organizations/firms should be registered under
            relevant
            Acts/Rules.
        </li>
        <li class="p-2 alert-success rounded mb-1">They should have their office network in the district where they
            apply to
            be the
            Lead NGO.</li>
        <li class="p-2 alert-primary rounded mb-1">They must have a strong presence and good track of record in the
            district.
        </li>
        <li class="p-2 alert-secondary rounded mb-1">They should have had to experience a similar nature of projects
            handled in the
            past.</li>
        <li class="p-2 alert-warning rounded mb-1">They should have at least Rs. 10 lakhs turn over per annum</li>
        <li class="p-2 alert-danger rounded mb-1">They should have enough qualified and experienced staff who are
            capable of
            handling
            technical
            and managerial
            issues.</li>
        <li class="p-2 alert-success rounded mb-1">Sensitivity towards group action/conflict resolution and equity for
            the
            marginalized community.
            visit ngo
            consultancy to gain knowledge for registration of organization.</li>
    </ul>
</div>