.section1 container {
  display: flex;
}

.container hr {
  height: 5px;
  color: rgb(7, 76, 196);
  border: none;
}

img {
  float: right;
  width: 400px;
  height: 300px;
}

h5 {
  text-decoration: underline;
  text-decoration-color: rgb(248, 176, 114);
  text-decoration-thickness: 5px;
}
a {
  text-decoration: none;
}
