<div class="bg-primary" *ngIf="privilegeTrainee">
    <nav class="p-2">
        <a href="#" class="text-white traineeAnchor">ABOUT US</a>
        <a href="#" class="text-white traineeAnchor">GUIDELINES</a>
        <a href="#" class="text-white traineeAnchor">TRAINING SECTORS</a>
        <a href="#" class="text-white traineeAnchor">REGISTRATION</a>
        <a href="#" class="text-white traineeAnchor">STATUS</a>
        <a href="#" class="text-white traineeAnchor">FAQ</a>
    </nav>
</div>
<div class="bg-primary" *ngIf="privilegeNGO">
    <nav class="p-2">
        <a href="#" class="text-white ngoAnchor">CRITERIA</a>
        <a href="#" class="text-white ngoAnchor">ORGANIZATIONS</a>
        <a href="#" class="text-white ngoAnchor">FUNDING NORMS FAQ</a>
        <a href="#" class="text-white ngoAnchor">REGISTER</a>
        <a href="#" class="text-white ngoAnchor">STATUS</a>
    </nav>
</div>
<div class="bg-primary" *ngIf="privilegeAdmin">
    <nav class="p-2">
        <a href="#" class="text-white adminAnchor">ABOUT US</a>
        <a href="#" class="text-white adminAnchor">NGO</a>
        <a href="#" class="text-white adminAnchor">TRAINEES</a>
    </nav>
</div>
<div class="bg-primary" *ngIf="privilegeNone">
    <nav class="p-2">
        <a href="#" class="text-white noneAnchor">ABOUT US</a>
        <a href="#" class="text-white noneAnchor">LEGISLATIONS & POLICY</a>
        <a href="#" class="text-white noneAnchor">STEP</a>
        <a href="#" class="text-white noneAnchor">NGOs</a>
        <a href="#" class="text-white noneAnchor">ADMIN</a>
        <a href="#" class="text-white noneAnchor">FAQ</a>
    </nav>
</div>
