a {
    text-decoration: none;
    position: relative;
}

a:hover {
    background-color: #c5d4f3;
}

.ngoAnchor {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.traineeAnchor {
    margin-left: 2rem;
    margin-right: 2rem;
}

.adminAnchor {
    margin-left: 6rem;
    margin-right: 6rem;
}

.noneAnchor {
    margin-left: 4.7rem;
    margin-right: 4.7rem;
}