a {
    text-decoration: none;
    position: relative;
}

a:hover {
    background-color: #c5d4f3;
}

.ngoAnchor {
    margin-left: 2rem;
    margin-right: 2rem;
}

.traineeAnchor {
    margin-left: 2rem;
    margin-right: 2rem;
}

.adminAnchor {
    margin-left: 5rem;
    margin-right: 5rem;
}

.noneAnchor {
    margin-left: 4rem;
    margin-right: 4rem;
}