a {
    text-decoration: none;
    position: relative;
}

a:hover {
    background-color: #c5d4f3;
}

.ngoAnchor {
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.traineeAnchor {
    margin-left: 4.5rem;
    margin-right: 4.5rem;
}

.adminAnchor {
    margin-left: 12rem;
    margin-right: 12rem;
}

.noneAnchor {
    margin-left: 4.7rem;
    margin-right: 4.7rem;
}