<div class="bg-primary" *ngIf="privilegeTrainee">
    <nav class="p-2 navbar">
        <a href="#" class="text-white traineeAnchor">HOME</a>
        <a href="#" class="text-white traineeAnchor" routerLink="/about-us">ABOUT US</a>
        <a href="#" class="text-white traineeAnchor" routerLink="/guidelines">GUIDELINES</a>
        <a href="#" class="text-white traineeAnchor" routerLink="/training">TRAINING SECTORS</a>
        <a href="#" class="text-white traineeAnchor">NGOs</a>
        <a href="#" class="text-white traineeAnchor" routerLink="/trainee-register-home">REGISTRATION</a>
        <a href="#" class="text-white traineeAnchor">STATUS</a>
        <a href="#" class="text-white traineeAnchor" routerLink="/faq">FAQ</a>
        <a href="#" class="text-white traineeAnchor">PROFILE</a>
    </nav>
</div>
<div class="bg-primary" *ngIf="privilegeNGO">
    <nav class="p-2 navbar">
        <a href="#" class="text-white ngoAnchor">HOME</a>
        <a href="#" class="text-white ngoAnchor" routerLink="/criteriaNGO">CRITERIA</a>
        <a href="#" class="text-white ngoAnchor">ORGANIZATIONS</a>
        <a href="#" class="text-white ngoAnchor" routerLink="/funding-norms">FUNDING NORMS FAQ</a>
        <a href="#" class="text-white ngoAnchor" routerLink="/ngo-register-home">REGISTER</a>
        <a href="#" class="text-white ngoAnchor">STATUS</a>
        <a href="#" class="text-white ngoAnchor">PROFILE</a>
    </nav>
</div>
<div class="bg-primary" *ngIf="privilegeAdmin">
    <nav class="p-2 navbar">
        <a href="#" class="text-white adminAnchor p-1">HOME</a>
        <a href="#" class="text-white adminAnchor p-1" routerLink="/about-us">ABOUT US</a>
        <a href="#" class="text-white adminAnchor p-1">NGO</a>
        <a href="#" class="text-white adminAnchor p-1">TRAINEES</a>
        <a href="#" class="text-white adminAnchor p-1">PROFILE</a>
    </nav>
</div>
<div class="bg-primary" *ngIf="privilegeNone">
    <nav class="p-2 navbar">
        <a href="#" class="text-white noneAnchor p-1" routerLink="/about-us">ABOUT US</a>
        <a href="#" class="text-white noneAnchor p-1" routerLink="/poilicy-legislation">LEGISLATIONS & POLICY</a>
        <a href="#" class="text-white noneAnchor p-1 dropdown" routerLink="/login"
            (click)="loginToggleAsTrainee()">STEP</a>
        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                STEP
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/login">Login</a>
                <a class="dropdown-item">Sign Up</a>
            </div>
        </div> -->
        <a href="#" class="text-white noneAnchor p-1" (click)="loginToggleAsNGO()" routerLink="/loginNGO">NGOs</a>
        <a href="#" class="text-white noneAnchor p-1" (click)="loginToggleAsAdmin()" routerLink="/loginAdmin">ADMIN</a>
        <a href="#" class="text-white noneAnchor p-1" routerLink="/faq">FAQ</a>
    </nav>
</div>