<div class="d-flex justify-content-center p-3 pb-5 mb-4">
  <div class="card border-primary mb-3 " style="width: 70rem;">
    <div class="card-header text-primary">
      <h3 class="font-weight-bold mb-3" style="text-align:center" font-size="100px">GUIDELINES</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Working women, who may be single, widowed, divorced, separated, married but whose
        husband or immediate family does not reside in the same city/area. preference may be given to women from
        disadvantaged sections of the society.</li>
      <li class="list-group-item"> Women who are under training for job provided the total training period does not
        exceed one year. This is only on the condition that there is vacancy available after accommodating working
        women.</li>
      <li class="list-group-item">Girls up to the age of 18 years and boys up to the age of 5 years, accompanying
        working mothers will be provided accommodation, with their mothers.</li>
      <li class="list-group-item">There should be also provision for reservation of seats for physically challenged
        beneficiaries</li>
      <li class="list-group-item">Working Women are entitled to hostel facilities provided their gross income does not
        exceed Rs. 50,000/- consolidated (gross) per month in metropolitan cities, or Rs 35,000/- consolidated (gross)
        per month, in any other place.</li>
      <li class="list-group-item">The girl child strictly has to be an Indian resident throughout the tenure of the
        scheme. Incase if the residency status of the girl child changes in the interim, no interest shall be payable
        from the date of change and the account will be closed prematurely. </li>
      <li class="list-group-item">Only parents or legal guardians of a girl child can open an SSY account</li>
      <li class="list-group-item">The girl child has to be below the age of 10 at the time of account opening</li>
      <li class="list-group-item">Only one account can be opened in the name of a girl child</li>

    </ul>
    <div class="card-body text-center">
      <a href="https://wcd.nic.in/sites/default/files/Revised%20schemeof%20STEP_0.pdf" class="card-link">STEP</a>
      <a href="#!" class="card-link">SUKANYA SAMRIDHI YOJANA </a>
    </div>
  </div>
</div>