<div style="height: 3rem"></div>
<div class="card mx-auto p-2" style="width: 70rem">
  <!-- <h1>Here the form</h1> -->

  <h2 class="text-center mt-2">Kindly fill up the form</h2>
  <h4>Organization Details</h4>
  <hr />
  <form enctype="multipart/form" (ngSubmit)="onSubmit()">
    <div class="d-flex row">
      <div class="col-sm-4 row">
        <label for="name" class="mt-1 col-sm-6">Name:</label>
        <input
          type="text"
          name="name"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoName"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="members" class="mt-1 col-sm-6">Members:</label>
        <input
          type="text"
          name="members"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="members"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="field" class="mt-1 col-sm-6">Work Areas:</label>
        <input
          type="text"
          name="field"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="workAreas"
        />
      </div>
    </div>
    <div class="d-flex mt-2 row">
      <div class="col-sm-4 row">
        <label for="state" class="mt-1 col-sm-6">State:</label>
        <input
          type="text"
          name="state"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoState"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="city" class="mt-1 col-sm-6">City:</label>
        <input
          type="text"
          name="city"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngocity"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="address" class="mt-1 col-sm-6">Complete Address:</label>
        <input
          type="text"
          name="address"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoAddress"
        />
      </div>
    </div>
    <div class="d-flex mt-2 row">
      <div class="col-sm-4 row">
        <label for="reg" class="mt-1 col-sm-6">Registration No:</label>
        <input
          type="text"
          name="reg"
          class="mt-1 mb-1 mt-1 col-sm-6 rounded"
          [(ngModel)]="ngoRegistrationNumber"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="doe" class="mt-1 col-sm-6">Date of Est:</label>
        <input
          type="date"
          name="doe"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoDOE"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="cnaame" class="mt-1 col-sm-6">New Campaign:</label>
        <input
          type="text"
          name="cname"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="newCampaign"
        />
      </div>
      <div class="row mt-3">
        <div class="col-sm-6 d-flex">
          <label class="col-sm-4" for="pdetails">Project Details:</label>
          <textarea
            name="pdetails"
            class="rounded col-sm-7"
            width="100%"
            height="50px"
          ></textarea>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-sm-4">
          <label for="amount" class="mt-1 col-sm-6">Amount:</label>
          <input
            type="text"
            name="amount"
            class="mt-1 mb-1 col-sm-6 rounded"
            [(ngModel)]="ngoAmount"
          />
        </div>
      </div>
    </div>
    <hr />
    <h4>Project Details</h4>
    <hr />
    <h5>Project In-Charge Details</h5>
    <div class="d-flex row">
      <div class="col-sm-4 row">
        <label for="pifirstname" class="mt-1 col-sm-6">First Name:</label>
        <input
          type="text"
          name="pifirstname"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="fname"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="pimiddlename" class="mt-1 col-sm-6">Middle Name:</label>
        <input
          type="text"
          name="pimiddlename"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="mname"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="pilastname" class="mt-1 col-sm-6">Last Name:</label>
        <input
          type="text"
          name="pilastname"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="lname"
        />
      </div>
    </div>
    <div class="d-flex mt-2 row">
      <div class="col-sm-4 row">
        <label for="state" class="mt-1 col-sm-6">State:</label>
        <input
          type="text"
          name="state"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="inchargeState"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="city" class="mt-1 col-sm-6">City:</label>
        <input
          type="text"
          name="city"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="inchargecity"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="address" class="mt-1 col-sm-6">Complete Address:</label>
        <input
          type="text"
          name="address"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="inchargeAddress"
        />
      </div>
    </div>
    <div class="d-flex mt-2 row">
      <div class="col-sm-4 row">
        <label for="aadhar" class="mt-1 col-sm-6">Aadhar:</label>
        <input
          type="text"
          name="aadhar"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="inchargeAadhar"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="pan" class="mt-1 col-sm-6">PAN :</label>
        <input
          type="text"
          name="pan"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="inchargePan"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="education" class="mt-1 col-sm-6">Education:</label>
        <input
          type="text"
          name="education"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="inchargeEdu"
        />
      </div>
    </div>
    <hr />
    <h4>Contact Details</h4>
    <hr />
    <div class="d-flex mt-2 row">
      <div class="col-sm-4 row">
        <label for="mobile" class="mt-1 col-sm-6">Mobile:</label>
        <input
          type="text"
          name="mobile"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoMobile"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="email" class="mt-1 col-sm-6">Email:</label>
        <input
          type="text"
          name="email"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoEmail"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="weblink" class="mt-1 col-sm-6">Website link:</label>
        <input
          type="text"
          name="weblink"
          class="mt-1 mb-1 col-sm-6 rounded"
          [(ngModel)]="ngoWebsite"
        />
      </div>
    </div>
    <h4>Documents</h4>
    <hr />
    <div class="d-flex mt-2 row">
      <div class="col-sm-4 row">
        <label for="faadhar" class="mt-1 col-sm-6">Aadhar:</label>
        <input
          type="file"
          name="faadhar"
          class="mt-1 mb-1 col-sm-6 rounded"
          (change)="fileChange($event)"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="ngocertificate" class="mt-1 col-sm-6">Certificate:</label>
        <input
          type="file"
          name="marksheet"
          class="mt-1 mb-1 col-sm-6 rounded"
          (change)="fileChange($event)"
        />
      </div>
      <div class="col-sm-4 row">
        <label for="documentsup" class="mt-1 col-sm-6"
          >Supporting Documents:</label
        >
        <input
          type="file"
          name="ngocertificate"
          class="mt-1 mb-1 col-sm-6 rounded"
          (change)="fileChange($event)"
        />
      </div>
    </div>
    <button class="btn btn-success mt-2 col-sm-3 mx-auto" type="submit">
      Submit
    </button>
  </form>
</div>
<div style="height: 5rem"></div>
