<div class="my-auto" style="height: 4rem;">
    <h3 class="text-center text-white">Legislations and policies</h3>
    <p class="text-white text-center">The given legislations and policies are passed by the Indian Parliament. All the
        citizens of
        India come under these policies and are obliged to follow them</p>
</div>
<div class="d-flex pb-5 mt-3">
    <div class="card mx-auto bg-secondary" id="div-l" style="width: 25rem;">
        <h4 class="text-center text-white">Legislations</h4>
        <ul class="p-3">
            <li class="alert-danger rounded p-2 mb-1"><strong (click)="toggle1func()">Equal Remuneration Act
                    of 1976</strong>
                <p *ngIf="toggle1"> It provides for equal pay to men and women for
                    equal work.</p>
            </li>
            <li class="alert-success rounded p-2 mb-1"><strong (click)="toggle2func()">Hindu Marriage Act of
                    1955</strong>
                <p *ngIf="toggle2"> Amended in 1976 provides the right for girls to repudiate
                    a child marriage before attaining maturity whether the marriage has been consummated
                    or not.</p>
            </li>
            <li class="alert-primary rounded p-2 mb-1"><strong (click)="toggle3func()">The Marriage (Amendment) Act of
                    2001</strong>
                <p *ngIf="toggle3"> Amended the Hindu Marriage Act, Special
                    Marriage Act, Parsi Marriage and Divorce Act, the Code of Criminal Procedure
                    providing for speedy disposal of applications for maintenance; the ceiling limit for
                    claiming maintenance has been deleted and a wide discretion has been given to the
                    Magistrate to award appropriate maintenance.</p>
            </li>
            <li class="alert-warning rounded p-2 mb-1"><strong (click)="toggle4func()">The Immoral Traffic (Prevention)
                    Act of 1956</strong>
                <p *ngIf="toggle4">Amended and renamed in 1986
                    makes the sexual exploitation of male or female, a cognizable offence. It is
                    beingamended to decriminalize the prostitutes and make the laws more stringent against
                    traffickers.</p>
            </li>
            <li class="alert-info rounded p-2 mb-1"><strong (click)="toggle5func()">An amendment brought in 1984 to the
                    Dowry Prohibition Act
                    of 1961</strong>
                <p *ngIf="toggle5">Made women’s
                    subjection to cruelty a cognizable offence. The second amendment brought in 1986
                    makes the husband or in-laws punishable, if a woman commits suicide within 7 years
                    of her marriage and it has been proved that she has been subjected to cruelty. Also a
                    new criminal offence of 'Dowry Death' has been incorporated in the Indian Penal Code.
                    Child Marriage Restraint Act of 1976 raises the age for marriage of a girl to 18
                    years from 15 years and that of a boy to 21 years and makes offences under this Act
                    cognizable.</p>
            </li>
            <li class="alert-danger rounded p-2 mb-1"><strong (click)="toggle6func()">Medical Termination of Pregnancy
                    Act of 1971</strong>
                <p *ngIf="toggle6">Legalizes abortion by qualified
                    professionals on humanitarian or medical grounds. The maximum punishment for
                    unauthorized abortion may go upto life imprisonment. The Act has further been amended
                    specifying the place and persons authorized to perform abortion and provide for penal
                    actions against the unauthorized persons performing abortions. </p>
            </li>
            <li class="alert-success rounded p-2 mb-1"><strong (click)="toggle7func()">Indecent Representation of Women
                    (Prohibition) Act of
                    1986 and the Commission
                    of Sati (Prevention) Act of 1987</strong>
                <p *ngIf="toggle7">have been enacted to protect the dignity of women and
                    prevent violence against them as well as their exploitation.</p>
            </li>
            <li class="alert-warning rounded p-2 mb-1"><strong (click)="toggle8func()">The Protection of Women from
                    Domestic Violence Act of
                    2005</strong>
                <p *ngIf="toggle8">provides for more
                    effective protection of the rights of women guaranteed under the Constitution who are
                    victims of violence of any kind occurring within the family and for matters connected
                    therewith or incidental thereto. It provides for immediate and emergent relief to women
                    in situations of violence of any kind in the home.</p>
            </li>
        </ul>
    </div>
    <div class="card mx-auto bg-secondary" style="width: 25rem;">
        <h4 class="text-center text-white">Policies</h4>
        <ul class="p-3">
            <li class="alert-danger rounded p-2 mb-1"><strong (click)="toggle9func()">The National Policy on Education
                    1986</strong>
                <p *ngIf="toggle9">Emphasizes on the need to equalize
                    educational opportunities by removing disparities that exist in society. Under the
                    section ‘Education for Women’s Equality’ the policy observes that “education will
                    be used as an agent of basic change in the status of woman…The National
                    Education system will play a positive, interventionist role in the empowerment of
                    women” (1986: 6). This will be done through curricula, teacher training and active
                    participation of the educational institutions. It also promotes women’s studies and
                    also encourages educational institutions to initiate programmes for women’s
                    development. Women’s literacy will be encouraged and any hurdles in obstructing
                    their access and retention in elementary education will be identified and tackled.
                    Moreover, gender stereotyping in vocational and professional courses will be
                    eliminated giving way to woman's participation in modern occupations.</p>
            </li>

            <li class="alert-success rounded p-2 mb-1"><strong (click)="toggle10func()">The National Perspective Plan
                    for Women
                    1988-2000</strong>
                <p *ngIf="toggle10">Perceives women in a
                    holistic manner and assesses the effect of development plans and programmes on
                    women. It aims at economic development and integration of women into the
                    mainstream economy and equity and social justice for all women. The plan suggests
                    measures to be adopted in the fields of agriculture, employment and training,
                    supportive services (fuel, fodder, water, crèche, and housing), education, health
                    and family welfare so that women could reach a level comparable to men by 2000.
                    In agriculture and allied services, women-related development dimensions need to
                    be discussed and women should be provided productive resources. The plan states
                    that new avenues of employment have to be made available for women, improving
                    their present working environment, employment and productivity potential, enabling
                    them to become an ‘articulate and conscious workforce’, thus assuming the status
                    and recognition of a worker. The supportive services provided to women would
                    help them focus on work, at the same time reducing the daily drudgery they have
                    to undergo. Issues of fuel, fodder and water are directly of concern to women so
                    they should be included in the programmes designed on these aspects. The Plan
                    envisages involving community members in girls’ education and making them
                    realize its importance for strengthening women’s role in society and for socioeconomic development
                    of
                    the
                    nation. The National Literacy Mission should also
                    involve women’s organizations. Health is an important indicator of well-being for
                    women’s development. The Plan recommended that the amniocentesis tests be
                    banned. There is a need to encourage parents to have female children. Health
                    services should cater to women’s health problems.
                </p>
            </li>
            <li class="alert-primary rounded p-2 mb-1">
                <strong (click)="toggle11func()">Shramshakti: Report of the National Commission on Self-Employed Women
                    and Women in the Informal Sector 1988</strong>
                <p *ngIf="toggle11">Was set up to study in a comprehensive
                    manner the working and living state of poor women. It includes unprotected labour,
                    those who are self-employed, engaged in wage labour, paid or unpaid, and contract
                    labour. Though women contribute to family and national economy, their work gets
                    no recognition. Thus, “women worker” should be defined in a broad manner to
                    include work, whether paid or unpaid, which she does within the household or
                    outside as a worker or on her own account. It suggests that a multi-pronged approach
                    that is flexible, integrated and area-specific should be adopted by planners. The
                    ongoing exploitation and uneven control of resources cause women to survive in
                    extreme poverty and destitution. Lack of knowledge, skills and resources makes
                    them feel powerless. The existing development schemes do not overtly discriminate
                    against women. Yet at the same time they do not also empower them. This feeling
                    of powerlessness is the outcome of the subordinate status accorded to women in
                    implementation of the policies which then makes men chief beneficiaries in any
                    development project. Moreover, certain vested interests keep women subordinated
                    to get cheap and docile labour. In such a situation, the commission recommends
                    introduction of new packages and programmes that assist the poor and vulnerable
                    women. The areas of employment need to be enlarged for women. Working
                    conditions have to be improved, drudgery could be reduced and they be provided
                    with social security. The Commission advocates adoption of a holistic and integrated
                    approach.</p>
            </li>
            <li class="alert-warning rounded p-2 mb-1">
                <strong (click)="toggle12func()">The National Policy for Empowerment of Women 2001</strong>
                <p *ngIf="toggle12">States that the judicial
                    legal system will be sensitized towards women’s needs. Old laws will be changed
                    and new ones be made stringent to ensure punishment to offenders in accordance
                    with the offence. Personal laws related to marriage, divorce, maintenance and
                    guardianship will be changed to ensure equality for women. Alongside at the
                    political level, women will be made partners in the decision-making and powersharing process.
                    This policy realizes the need to mainstream gender perspectives in the development
                    process. Women can act as catalysts, participants and recipients. For this, women’s
                    issues and concerns need emphasis in all plans, policies, laws and programmes of
                    action. The strengthening of women's role in social, economic spheres and through
                    institutional mechanisms would lead to empowerment. Box 2.2 discusses some of
                    the salient features of this policy.</p>
            </li>

        </ul>
    </div>
</div>