<!-- <section class="section1 mt-3"> -->
<div class="container text-white p-3 mb-4">
  <!-- <p><a href="#">Home </a>>> About Us</p> -->
  <h3>About the Ministry</h3>
  <br />

  <h5>Introduction</h5>
  <div class="d-flex">
    <p class="pr-5 mr-5 para">
      The Department of Women and Child Development, Government of India, was
      established as a distinct Ministry on January 30, 2006, having previously
      been a Department within the Ministry of Human Resources Development since
      1985.
      <br />
      The Ministry was established with the primary goal of resolving gaps in
      State action for women and children and supporting inter-Ministerial and
      inter-sectoral convergence in order to develop gender equitable and
      child-centered laws, policies, and programmes.
    </p>
    <img
      class="rounded"
      src="../../../assets/images/image2.jpg"
      alt="women"
      height="100px"
      width="100px"
    />
  </div>
  <h5 class="mt-3">Vision and Mission</h5>
  <br />

  <h6><strong>Vision</strong></h6>
  <p>
    Empowered women living with dignity and participating as equal contributors
    in development of an environment which is free of violence and prejudice.
    And well-nurtured youngsters with many opportunities for growth and
    development in a safe and protected environment.
  </p>
  <h6><strong>Mission</strong></h6>
  <p>
    Promoting women's social and economic empowerment by cross-cutting policies
    and programmes, mainstreaming gender problems, raising knowledge of their
    rights, and providing institutional and legislative support to enable them
    to achieve their human rights and reach their full potential. Also, ensuring
    children's growth, care, and protection by cross-cutting policies and
    programmes, raising knowledge about their rights, and facilitating access to
    learning, nutrition, institutional, and legislative assistance to allow them
    to grow and develop to their full potential.
  </p>
  <h6><strong>Organisation</strong></h6>
  <p>
    The Ministry has been implementing the world's largest and most unique and
    outreach programme of Integrated Child Development Services (ICDS) for the
    holistic development of the child, providing a package of services including
    supplementary nutrition, immunisation, health check up and referral
    services, and pre-school non-formal education. The Ministry's programmes are
    mostly managed by non-governmental organisations. Attempts are being
    undertaken to increase the effectiveness of NGOs' participation.
  </p>
</div>
<!-- </section> -->
