<div style="height:3rem;"></div>
<div class="card mx-auto p-2" style="width:70rem;">
    <!-- <h1>Here the form</h1> -->

    <h2 class="text-center mt-2">Kindly fill up the form</h2>
    <h4>Personal Details</h4>
    <hr>
    <form enctype="multipart/form" (ngSubmit)="onSubmit()">
        <div class="d-flex row">
            <div class="col-sm-4 row">
                <label for="firstname" class="mt-1 col-sm-6">First Name:</label>
                <input type="text" name="firstname" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="firstname">
            </div>
            <div class="col-sm-4 row">
                <label for="middlename" class="mt-1 col-sm-6">Middle Name:</label>
                <input type="text" name="middlename" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="middlename">
            </div>
            <div class="col-sm-4 row">
                <label for="lastname" class="mt-1 col-sm-6">Last Name:</label>
                <input type="text" name="lastname" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="lastname">
            </div>
        </div>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="state" class="mt-1 col-sm-6">State:</label>
                <input type="text" name="state" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="state">
            </div>
            <div class="col-sm-4 row">
                <label for="city" class="mt-1 col-sm-6">City:</label>
                <input type="text" name="city" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="city">
            </div>
            <div class="col-sm-4 row">
                <label for="address" class="mt-1 col-sm-6">Complete Address:</label>
                <input type="text" name="address" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="address">
            </div>
        </div>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="aadhar" class="mt-1 col-sm-6">Aadhar:</label>
                <input type="number" name="aadhar" class="mt-1 mb-1 mt-1 col-sm-6 rounded" [(ngModel)]="traineeAadhaar">
            </div>
            <div class="col-sm-4 row">
                <label for="pan" class="mt-1 col-sm-6">PAN :</label>
                <input type="text" name="pan" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="traineePan">
            </div>
            <div class="col-sm-4 row">
                <label for="education" class="mt-1 col-sm-6">Education:</label>
                <input type="text" name="education" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="traineeEducation">
            </div>
        </div>
        <hr>
        <h4>Family Details</h4>
        <hr>
        <h5>Guardian Details</h5>
        <div class="d-flex row">
            <div class="col-sm-4 row">
                <label for="gfirstname" class="mt-1 col-sm-6">First Name:</label>
                <input type="text" name="gfirstname" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gFirstname">
            </div>
            <div class="col-sm-4 row">
                <label for="gmiddlename" class="mt-1 col-sm-6">Middle Name:</label>
                <input type="text" name="gmiddlename" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gMiddlename">
            </div>
            <div class="col-sm-4 row">
                <label for="glastname" class="mt-1 col-sm-6">Last Name:</label>
                <input type="text" name="glastname" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gLastname">
            </div>
        </div>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="education" class="mt-1 col-sm-6">Education:</label>
                <input type="text" name="education" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gEducationDetails">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 row mt-2 d-flex">
                <label for="relation" class="mt-1 col-sm-6">Relation:</label>
                <input type="text" name="relation" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gRelation">
            </div>
        </div>
        <hr>
        <h4>Contact Details</h4>
        <hr>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="mobile" class="mt-1 col-sm-6">Mobile:</label>
                <p class="mt-1 col-sm-6">Mobile Number registered</p>
            </div>
            <div class="col-sm-4 row">
                <label for="email" class="mt-1 col-sm-6">Email:</label>
                <p class="mt-1 col-sm-6">Email registered</p>
            </div>
            <div class="col-sm-4 row">
                <label for="dob" class="mt-1 col-sm-6">Date of Birth:</label>
                <p class="mt-1 col-sm-6">DOB registered</p>
            </div>
        </div>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="gmobile" class="mt-1 col-sm-6">Guardian Mobile:</label>
                <input type="number" name="gmobile" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gMobile">
            </div>
            <div class="col-sm-4 row">
                <label for="gemail" class="mt-1 col-sm-6">Guardian Email:</label>
                <input type="text" name="gaadhar" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="gEmail">
            </div>
        </div>
        <hr>
        <h4>Documents</h4>
        <hr>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="file" class="mt-1 col-sm-6">Supporting Documents:</label>
                <input type="file" name="file" class="mt-1 mb-1 col-sm-6 rounded" (change)="fileChange($event)">
            </div>
        </div>
        <hr>
        <h4>Hostel Info</h4>
        <hr>
        <div class="d-flex mt-2 row">
            <div class="col-sm-4 row">
                <label for="hostelName" class="mt-1 col-sm-6">Hostel:</label>
                <input type="text" name="hostelName" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="hName">
            </div>
            <div class="col-sm-4 row">
                <label for="location" class="mt-1 col-sm-6">Location:</label>
                <input type="text" name="location" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="hLocation">
            </div>
            <div class="col-sm-4 row">
                <label for="owner" class="mt-1 col-sm-6">Ran by:</label>
                <input type="text" name="about" class="mt-1 mb-1 col-sm-6 rounded" [(ngModel)]="hRanBy">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-success col-sm-3 mt-2 mx-auto" type="submit">Submit</button>
        </div>
    </form>
</div>
<div style="height:5rem;"></div>