<section class="section1 mt-3">
  <div class="container bg-white">
    <!-- <p><a href="#">Home </a>>> About Us</p> -->
    <h3>NGOs</h3>
    <hr /><br />
    <div *ngFor="let res of result">
    <ul>
      <li><h4 class="text-capitalize">{{res.ngoName}}</h4>
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="list-unstyled md-6">
              <li>Establish Date : {{res.ngoDOE}}</li>
              <li>Number of Members : {{res.members}}</li>
              <li>Address : {{res.ngoAddress}}</li>
              <li>Work Areas : {{res.workAreas}}</li>
            </ul>
          </div>
          <div class="col">
            <ul class="list-unstyled">Contact Us:
              <li>Mobile No : {{res.ngoMobile}}</li>
              <li>Email : {{res.ngoEmail}}</li>
              <li>Website : {{res.ngoWebsite}}</li>
            </ul>
          </div>
        </div>
      </div>
      </li>
    </ul>
    <hr />
  </div>
  </div>
</section>
